.listitems{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding:20px;
    align-items: center;
    
   
}
.listitems p
{
    padding-top: 10px;

}
.icons{
    display: flex;
    justify-content: space-between;
    width:90px;
    font-size: 20px;
}